<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gionee.bloodsoulnote"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 只有系统app才有的权限，这里是无效的 -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REBOOT"/>

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".retrofit2.Retrofit2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".okhttp.OkhttpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".halfitem.HalfItemActivity"/>
        <activity android:name=".recyclerview.RecyclerViewActivity"/>
        <activity android:name=".silentinstall.SilentInstallActivity"/>

        <service
            android:name=".silentinstall.MyAccessibilityService"
            android:label="我的智能安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <activity android:name=".silentinstall.FileExplorerActivity"/>
        <activity android:name=".immersive.ImmersiveActivity"/>
        <!-- android:theme="@style/ImmersiveStyle" -->

        <activity android:name=".addBookMark.AddBookMarkActivity">
        </activity>
        <activity android:name=".openfile.OpenFileActivity">
        </activity>
        <activity android:name=".viewpager.ViewPagerActivity">
        </activity>
        <activity android:name=".requestpermission.RequestPermissionActivity">
        </activity>
        <activity android:name=".screenshot.ScreenshotActivity">
        </activity>
        <activity android:name=".bitmap.ClipPatchActivity">
        </activity>
        <activity
            android:name=".viewpagerfragment.ViewPagerFragmentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".inputbar.InputBarActivity">
        </activity>
        <activity
            android:name=".viewpagerfragment.TeacherStudentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".viewpagerfragment.LazyViewPagerActivity">
        </activity>
        <activity android:name=".stepdownload.StepDownloadActivity">
        </activity>
        <activity android:name=".uploadordownload.UploadDownloadActivity">
        </activity>
        <activity
            android:name=".webview.WebviewActivity"
            android:configChanges="orientation">
        </activity>
        <activity android:name=".layout.LayoutActivity">
        </activity>
        <activity android:name=".mvprxpicture.MvpRxPictureActivity">
        </activity>
        <activity android:name=".recyitemdelete.RecyItemDeleteActivity">
        </activity>
        <activity android:name=".toast.ToastActivity">
        </activity>
        <activity android:name=".recyclerdrag.RecyDragActivity">
        </activity>
        <activity android:name=".button.ButtonActivity">
        </activity>
        <activity android:name=".animation.AnimationActivity">
        </activity>
        <activity android:name=".animation.ZhenAniActivity">
        </activity>
        <activity android:name=".animation.BujianAniActivity">
        </activity>
        <activity android:name=".animation.ShuxingAniActivity">
        </activity>
        <activity android:name=".circlemenu.CircleMenuActivity">
        </activity>
        <activity android:name=".customview.HorizontalCustomActivity">
        </activity>
        <activity android:name=".customview.CustomViewActivity">
        </activity>
        <activity android:name=".designmode.DesignModeActivity">
        </activity>
        <activity android:name=".snaphelper.SnaphelperActivity">
        </activity>
        <activity android:name=".designmode.build.BuildActivity">
        </activity>
        <activity android:name=".designmode.simplefactory.FactoryActivity">
        </activity>
        <activity android:name=".designmode.proxy.ProxyActivity">
        </activity>
        <activity android:name=".designmode.observer.ObserverActivity">
        </activity>

        <service
            android:name=".ipc.messenger.MessengerService"
            android:process=":remote"/>
        <service
            android:name=".ipc.aidl.AidlService"
            android:process=":remote"/>
        <service
            android:name=".ipc.socket.SocketService"
            android:process=":remote"/>

        <provider
            android:name=".ipc.contentprovider.GameProvider"
            android:authorities="com.bloodsoul.game"
            android:process=":remote"/>

        <activity android:name=".ipc.messenger.MessengerActivity">
        </activity>
        <activity android:name=".ipc.IPCActivity">
        </activity>
        <activity android:name=".ipc.aidl.AidlActivity">
        </activity>
        <activity android:name=".ipc.contentprovider.ContentProviderActivity">
        </activity>
        <activity
            android:name=".ipc.socket.SocketClientActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".viewstub.ViewStubActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".sqlite.SQLiteActivity">
        </activity>
        <activity android:name=".threadpool.ThreadPoolActivity">
        </activity>
        <activity android:name=".customview2.CustomView2Activity">
        </activity>
        <activity android:name=".listview.ListViewActivity">
        </activity>
        <activity android:name=".listview.testlistview.TestListViewActivity">
        </activity>
        <activity android:name=".listview.customlistview.CustomListViewActivity">
        </activity>
        <activity android:name=".sliding.SlidingActivity">
        </activity>
        <activity android:name=".sliding.viewdraghelper.ViewGragHeplerActivity">
        </activity>
        <activity android:name=".pxdp.PxDpActivity">
        </activity>
        <activity android:name=".huitu.HuituActivity">
        </activity>
        <activity android:name=".huitu.yinyin.YinyinActivity">
        </activity>
        <activity android:name=".huitu.layer.LayerActivity">
        </activity>
        <activity android:name=".huitu.clock.ClockActivity">
        </activity>
        <activity android:name=".leak.LeakActivity">
        </activity>
        <activity android:name=".heap.HeapActivity">
        </activity>
        <activity android:name=".thread.ThreadActivity">
        </activity>
        <activity android:name=".webviewdetail.WebviewDetailActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>